# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  '.overlayer':
      'Cubic Bezier': 'cubic-bezier:open'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Cubic Bezier'
      'submenu': [
        { 'label': 'Open/Reset', 'command': 'cubic-bezier:open' }
      ]
    ]
  }
 ]
