'context-menu':
  '.overlayer':
      'Cubic Bezier': 'cubic-bezier:open'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Cubic Bezier'
      'submenu': [
        { 'label': 'Toggle', 'command': 'cubic-bezier:open' }
      ]
    ]
  }
 ]
